.container {
    max-height: 500px;
    overflow: auto;
    .about {
        text-align: justify;
    }
}

@media (max-width: 480px) {
    .container {
        max-height: 350px;
    }
}

@media (max-width: 380px) {
    .container {
        max-height: 200px;
    }
}