<div class="container-modal">
  <span class="title">{{ data.product.name }}</span>
  <img [src]="data.product.image" />

  <div class="form">
    <form [formGroup]="formGifter" (ngSubmit)="onSubmit()">

      <div class="inputs">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Pedro Almeida" formControlName="gifter_name">
          <mat-error>Nome é obrigatório!</mat-error>
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Quantidade:</mat-label>
          <mat-select formControlName="quantity">
            <mat-option *ngFor="let number of [1,2,3,4,5]" [value]="number">{{number}}</mat-option>                        
          </mat-select>
        </mat-form-field>
      </div>

      <div class="buttons">
        <button mat-button color="accent" type="reset" (click)="handleClose()">CANCELAR</button>
        <button mat-raised-button color="accent" type="submit" [disabled]="!formGifter.valid">PRESENTEAR</button>
      </div>
    </form>
  </div>

</div>