@font-face {
    font-family: "Inter Thin";
    font-style: thin;
    font-weight: 100;
    src: url("../assets/fonts/Inter/Inter_28pt-Thin.ttf");
  }
  
  @font-face {
    font-family: "Inter Extra Light";
    font-style: extra-light;
    font-weight: 200;
    src: url("../assets/fonts/Inter/Inter_18pt-ExtraLight.ttf");
  }
  
  @font-face {
    font-family: "Inter Light";
    font-style: light;
    font-weight: 300;
    src: url("../assets/fonts/Inter/Inter_18pt-Light.ttf");
  }
  
  @font-face {
    font-family: "Inter Regular";
    font-style: regular;
    font-weight: 400;
    src: url("../assets/fonts/Inter/Inter_28pt-Regular.ttf");
  }
  
  @font-face {
    font-family: "Inter Medium";
    font-style: medium;
    font-weight: 500;
    src: url("../assets/fonts/Inter/Inter_18pt-Medium.ttf");
  }
  
  @font-face {
    font-family: "Inter Semi Bold";
    font-style: semi-bold;
    font-weight: 600;
    src: url("../assets/fonts/Inter/Inter_28pt-SemiBold.ttf");
  }
  
  @font-face {
    font-family: "Inter Bold";
    font-style: bold;
    font-weight: 700;
    src: url("../assets/fonts/Inter/Inter_18pt-Bold.ttf");
  }
  
  @font-face {
    font-family: "Inter Extra Bold";
    font-style: extra-bold;
    font-weight: 600;
    src: url("../assets/fonts/Inter/Inter_18pt-ExtraBold.ttf");
  }
  
  @font-face {
    font-family: "Inter Black";
    font-style: black;
    font-weight: 900;
    src: url("../assets/fonts/Inter/Inter_18pt-Black.ttf");
  }

  @font-face {
    font-family: "Playfair Display Italic";
    font-style: black;
    font-weight: 400;
    src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf");
  }