<div class="container-products">
  <div class="products" *ngFor="let product of products">
    
      <div class="box" [id]="product._id">
        <img [src]="product.image" />
  
        <span class="name">{{ product.name }}</span>
        <a *ngIf="product?.recomendation" target="_blank" [href]="product.recomendation">Recomendação</a>
  
        <button mat-raised-button color="accent" *ngIf="!product.gifter_name" style="margin-top: 5px;" (click)="handleToGift(product)">PRESENTEAR</button>
  
        <div *ngIf="product.gifter_name" class="giftedBy" style="margin-top: 5px;">
          <span class="by">Presentado por: </span>
          <span class="author">{{ product.gifter_name }}</span>
        </div>
      </div>      
  </div>
</div>